{% extends 'base.html.twig' %}

{% block body %}
    <div id="welcome">
        <h1>Games</h1>
    </div>
    <div id="games-list">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>System</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td>{{ game.description }}</td>
                    <td>{{ game.system }}</td>
                    <td>
                        <p>
                            <a class="btn btn-primary" href="{{ path('game_show', { 'id': game.id }) }}">View & Join</a>
                        <p>
                            {% if is_granted('CAN_ORGANIZE', game) %}
                                <p>
                                    <a class="btn btn-primary" href="{{ path('game_edit', { 'id': game.id }) }}">Edit</a>
                                </p>
                            {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('game_new') }}">Create a new game</a>
            </li>
        </ul>
        {% endif %}
        </div>
{% endblock %}
