{% extends 'base.html.twig' %}

{% block body %}
     <h1>Game: {{ game.name }}</h1>
    <p>(<a href="{{ path('game_edit', { 'id': game.id }) }}">Edit</a>)</p>
    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>
            <tr>
                <th>System</th>
                <td>{{ game.system }}</td>
            </tr>
            <tr>
                <th>Organizers</th>
                <td>
                    <ul>
                        {% for organizer in organizers %}
                        <li>
                            {{ organizer.user.username}}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Players</th>
                <td>
                    <ul>
                        {% for player in players %}
                        <li>
                            {{ player.user.username}}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Characters</th>
                <td>
                    <ul>
                        {% for character in game.characters %}
                        <li>
                            <a href="{{ path('character_show', { 'id': character.id} ) }}">{{ character.name}}</a>
                             ( {{character.player.username}} )                            
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('downtimeperiod_organize', { 'id': game.id }) }}">Manage Downtimes</a>
        </li>    
        <li>
            <a href="{{ path('homepage') }}">Back to the homepage</a>
        </li>
    </ul>
{% endblock %}
