{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ game.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>
            <tr>
                <th>System</th>
                <td>{{ game.system }}</td>
            </tr>
            <tr>
                <th>Members</th>
                <td>
                    <table>
                        {% for member in game.members %}
                        <tr>
                            <td>
                                {{ member.user.username}}
                            </td>
                            <td>
                                ( {{member.position}} )
                            </td>
                        </td>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('game_index') }}">Back to the list</a>
        </li>
        {% if is_granted('CAN_ORGANIZE', game) %}
        <li>
            <a href="{{ path('game_edit', { 'id': game.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
        {% if not app.user.isMember(game) %}
        <li>
            {{ form_start(join_form) }}
                <input type="submit" value="Join">
            {{ form_end(join_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
