{% extends 'base.html.twig' %}

{% block nav_home %}active{% endblock %}

{% block body %}

    <div id="welcome">
        <h1><span>The</span>Righttime<span>To do your Downtime</span></h1>
    </div>
    {% if user.members.empty %}
        <div id="no_games">
            <p>You haven't joined any games. Visit the games page to browse and join the game you signed up to do downtime for!</p>
            <a class="btn btn-primary" role="button" href="{{ path('game_index') }}">Browse Games</a></div>
        </div>
    {% elseif user.characters.empty %}
        <div id="no characters">
            <p>You don't have any characters. Create a character to start doing downtime!</p>
            <a class="btn btn-primary" role="button" href="{{ path('character_new') }}">Create Character</a></div>
        </div>
    {% else %}
        <div id="downtime_index">
            {{ render(controller(
                'AppBundle:DowntimePeriod:index', {rquest: app.request}
            ))}}
        </div>
    {% endif %}
    {% if not games_organized is empty %}
        <h2>Games organized:</h2>
        <div id="games_organized">
        <table class="table">
            <thead>
                <tr>
                    <th>Game</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for game in games_organized %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td><a class="btn btn-primary btn-sm btn-block" href="{{ path('game_organize', { 'id': game.id }) }}">Organize Game</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>    
        </div>
    {% endif %}
{% endblock %}


