    <h1>Downtimes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Game</th>
                <th>Downtime</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for downtimePeriod in downtimePeriods %}
            <tr>
                <td>{{ downtimePeriod.game.name }}</td>
                <td><a href="{{ path('downtimeperiod_show', { 'id': downtimePeriod.id }) }}">{{ downtimePeriod.name }}</a></td>
                <td>{{downtimePeriod.status}}
                {% if downtimePeriod.status == "Pending" %}
                    until {% if downtimePeriod.open %}{{ downtimePeriod.open|date('Y-m-d') }}{% endif %}
                {% elseif downtimePeriod.status == "Closed" %}
                    on {% if downtimePeriod.close %}{{ downtimePeriod.close|date('Y-m-d') }}{% endif %}
                {% elseif downtimePeriod.close %}
                    until {{ downtimePeriod.close|date('Y-m-d') }}
                {% endif %}
                </td>
                <td>
                    <ul>                     
                        {% for character in characters %}
                            {% if character.game == downtimePeriod.game %}
                                <p>
                                    {% if downtimePeriod.status == "Open" %}
                                        <a class="btn btn-primary btn-sm btn-block" role="button" href="{{ path('turn_edit', { 'downtime_id': downtimePeriod.id, 'character_id': character.id }) }}">Edit {{ character.name }}'s Turn</a>
                                    {% elseif downtimePeriod.status == "Closed" %}
                                        {% for turn in downtimePeriod.turns %}
                                            {% if turn.character == character %}
                                                <a class="btn btn-info btn-sm btn-block" role="button" href="{{ path('turn_review', { 'downtime_id': downtimePeriod.id, 'character_id': character.id }) }}">Review {{ character.name }}'s Turn</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            {% endif %}
                        {% endfor %}

                        {% if is_granted('CAN_ORGANIZE', downtimePeriod) %}
                        <li>
                            <a href="{{ path('downtimeperiod_edit', { 'id': downtimePeriod.id }) }}">edit</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
