{% extends 'base.html.twig' %}

{% block body %}
    <h1>Downtimeperiods list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Open</th>
                <th>Close</th>
                <th>Game</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for downtimePeriod in downtimePeriods %}
            <tr>
                <td><a href="{{ path('downtimeperiod_show', { 'id': downtimePeriod.id }) }}">{{ downtimePeriod.id }}</a></td>
                <td>{{ downtimePeriod.name }}</td>
                <td>{{ downtimePeriod.description }}</td>
                <td>{% if downtimePeriod.open %}{{ downtimePeriod.open|date('Y-m-d') }}{% endif %}</td>
                <td>{% if downtimePeriod.close %}{{ downtimePeriod.close|date('Y-m-d') }}{% endif %}</td>
                <td>{{ downtimePeriod.game.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('downtimeperiod_show', { 'id': downtimePeriod.id }) }}">show</a>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ render(controller('AppBundle\\Controller\\DowntimePeriodController:addTurnForm', {'id': downtimePeriod.id})) }}
                        {% else %}
                        <p>
                            <a class="btn btn-success" href="{{ path('security_login', {'redirect_to': app.request.pathInfo}) }}">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                            </a>
                        </p>
                        {% endif %}                        
                        {% if is_granted('CAN_ORGANIZE', downtimePeriod) %}
                        <li>
                            <a href="{{ path('downtimeperiod_edit', { 'id': downtimePeriod.id }) }}">edit</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
