{% extends 'base.html.twig' %}

{% block nav_characters %}active{% endblock %}

{% block body %}
    <h1>Characters list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Player</th>
                <th>Game</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td><a href="{{ path('character_show', { 'id': character.id }) }}">{{ character.name }}</a></td>
                <td>{{ character.player.username }}</td>
                <td>{{ character.game.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('character_new') }}">Create a new character</a>
        </li>
    </ul>
{% endblock %}
