{% extends 'base.html.twig' %}

{% block body %}
    <h1>Character</h1>
    <p>
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ character.name }}</td>
            </tr>
            <tr>
                <th>Player</th>
                <td>{{ character.player }}</td>
            </tr>
            <tr>
                <th>Game</th>
                <td>{{ character.game }}</td>
            </tr>
        </tbody>
    </table>
    </p>

    <div class="col-6">
        {% if is_granted('CAN_EDIT', character) %}
        <p>
                <a class="btn btn-primary btn-block" href="{{ path('character_edit', { 'id': character.id }) }}">Edit</a>
        </p>
        <p>
            {{ form_start(delete_form) }}
                <input class="btn btn-warning btn-block" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </p>
        {% endif %}
        <p>
            <a href="{{ path('character_index') }}">Back to the character list</a>
        </p>
        <p>
            <a href="{{ path('homepage') }}">Back to the homepage</a>
        </p>
    </div>
{% endblock %}
