{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ turn.downtimePeriod }} for {{ turn.character }}</h1>
    {% if turn.downtimePeriod.game.instructions is not empty %}
    <p>
        <h2>Instructions</h2>
        {{turn.downtimePeriod.game.instructions}}
    </p>
    {% endif %}

    {{ form_start(form) }}
        <ul class="acts" data-prototype="{{ form_widget(form.acts.vars.prototype)|e('html_attr') }}">
            {% for act in form.acts %}
                <li>
                    <p class="h4">Action {{ loop.index }}</p><p> {{ form_widget(act.summary) }} {{form_errors(act.summary)}}</p>
                    <p>{{ form_row(act.description) }}</p>
                </li>
            {% endfor %}
        </ul>

        {{ form_row(form.comments) }}

        <input class="btn btn-primary btn-block" type="submit" value="Save Turn" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('homepage') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('js/addActions.js') }}"></script>
{% endblock -%}


