{% extends 'base.html.twig' %}

{% block body %}
    <h1>Turn creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.character) }}
        {{ form_row(form.comments) }}
        {{ form_row(form.downtimePeriod) }}

        <h3>Actions</h3>
        <ul class="acts">
            {% for acts in form.acts %}
                <li>{{ form_row(act.summary) }}</li>
                <li>{{ form_row(act.description) }}</li>
            {% endfor %}
        </ul>

        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('turn_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
