{% extends 'base.html.twig' %}

{% block body %}
    <h1>Turn</h1>

    <table>
        <tbody>
            <tr>
                <th>Character</th>
                <td>{{ turn.character}}</td>
            </tr>
            <tr>
                <th>Game</th>
                <td>{{ turn.downtimePeriod.game }}</td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>            
                    {% for act in turn.acts %}
                    <li>
                        <p><h4>{{ act.summary }}</h4></p>
                        <p>{{ act.description }}</p>
                    </li>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ turn.comments }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('homepage') }}">Back to the list</a>
        </li>
        {% if turn.downtimePeriod.status == "Open" %}
            <li>
                <a class="btn btn-primary" href="{{ path('turn_edit', { 'downtime_id': turn.downtimePeriod.id, 'character_id': turn.character.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}

    </ul>
{% endblock %}
